{% extends "base_generic.html" %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Login Djangogram</title>
    {% endblock %}
    {% block style %}
    <style>
        .loginTitle
        {
            font-size: 2em;
            font-weight: bold;
            font-style: normal;
            font-family: -apple-system-headline, BlinkMacSystemFont, Arial, Roboto, sans-serif;
            padding-bottom: 2em;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block account %}
        {% if user.is_authenticated %}
            <li class="menus">
                <a href="{% url 'logout' %}?next={{ '/feed/' }}">Sign Out</a>
            </li>
        {% else %}
            <li class="menus">
                <a href="{% url 'login' %}?next={{ '/feed/' }}">Sign In</a>
            </li>
        {% endif %}
    {% endblock %}
    {% block content %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    <main class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        {% bootstrap_messages %}
        {% bootstrap_label "Djangogram 로그인" label_class='loginTitle' %}
        {% if form.errors %}
            <p style="color: red;">유저네임 및 비밀번호가 일치하지 않습니다.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>당신의 계정으로는 이 페이지에 접근할 수 없습니다. 접근하려면 권한이 있는 계정으로 로그인하십시오.</p>
            {% else %}
                <p>이 콘텐츠를 보려면 로그인해야 합니다.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group row">
                {% bootstrap_label form.username.label_tag %}
                <span class="col-lg-12">
                    {% bootstrap_field form.username show_label=False %}
                </span>
            </div>
            <div class="form-group row">
                {% bootstrap_label form.password.label_tag %}
                <span class="col-lg-12">
                    {% bootstrap_field form.password show_label=False %}
                </span>
            </div>
            <div class="d-grid gap-2 col-lg-12 mx-auto">
                <input type="submit" value="Login" class="btn btn-primary">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>

    <div class="d-flex justify-content-between">
        <div style="padding: 0.9em;"><a href="{% url 'password_reset' %}">비밀번호 찾기</a></div>
        <div style="padding: 0.9em;"><a href="">회원가입</a></div>
    </div>
    </main>
    {% endblock %}
    {# Assumes you setup the password_reset view in your URLconf #}
</body>
</html>